<div class="text-center">
  <img class="d-block mx-auto mb-4" src=".\assets\logo.png" alt="" width="72" height="72">
  <h1>Add new products</h1>
</div>

<div class="row">

  <div class="container col-md-10">
    <h3>Product Details</h3>
    <form class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="productTitle">Title</label>
        <input type="text" class="form-control" id="productTitle" placeholder="Title" value="" required>
        <div class="invalid-feedback">
          Please enter the product title.
        </div>
      </div>

      <div class="mb-3">
        <label for="productDescription">Description</label>
        <textarea class="form-control" id="address" placeholder="Description" rows="4" required></textarea>
        <div class="invalid-feedback">
          Please enter the product description.
        </div>
      </div>

      <div class="mb-3">
        <label for="productPrice">Price</label>
        <input type="number" class="form-control" id="productPrice" placeholder="" value="" required>
        <div class="invalid-feedback">
          Please enter the product price.
        </div>
      </div>

      <div class="mb-3">
        <label for="productImageUrl">Image URL</label>
        <input type="url" class="form-control" id="productImageUrl" placeholder="url" value="" required>
        <div class="invalid-feedback">
          Please enter the url of image of the product.
        </div>
      </div>
      <h4 class="mb-3">Whether the product is available?</h4>

      <div class="d-block my-3">
        <div class="custom-control custom-radio">
          <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" required>
          <label class="custom-control-label" for="isAvailableTrue">Yes</label>
        </div>
        <div class="custom-control custom-radio">
          <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
          <label class="custom-control-label" for="isAvailableFalse">No</label>
        </div>
      </div>
      <button class="btn btn-primary btn-lg btn-block" type="submit">Add product</button>
    </form>
  </div>
</div>