<div>
    <div class="card" style="width: 18rem;">
        <img src=".\assets\prod1.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary" style="background-color: #ef9114;border-color: #cca406;">
                <img src=".\assets\shopping-cart1.svg" height="20px" width="20px"
                style="margin-right:10px">Add to cart</a>
            <a href="#" class="btn btn-primary" style="float: right; background-color: #fdbb00;
            border-color: #cca406;"><img src=".\assets\buy-button.svg" height="20px" width="20px"
                style="margin-right:10px">Buy</a>
        </div>
    </div>
</div>